@use '../globals/index' as *;

.hero {
  width: 100%;
  height: 750px;
  position: relative;
  background-image: url('../../assets/images/bgs/bg-trees1.svg');
  background-color: $primary-bg-colour;
  background-repeat: no-repeat;
  background-size: auto 80%;
  //background-position: calc((100vw - $container-max-width) / 2 - 100px) 100%;
  background-position: bottom left;
  .container--hero {
    position: relative;
    height: 100%;
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 4rem;
  }

  &__heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;

    h1 {
      font-size: 4.5rem;
      max-width: 620px;
    }

    p {
      //font-size: 2rem;
      margin-bottom: 1rem;
    }
  }

  .container--slide__nav {
    position: relative;
  }

  &__slide__nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    margin-bottom: 0.5rem;
    width: calc(50% - 1rem);

    button {
      img {
        height: 2rem;
        width: 2rem;
        transition:
          transform 0.15s ease-out,
          opacity 0.15s ease-out;
      }

      &:hover {
        img {
          opacity: 0.8;
        }
      }

      &.splide__arrow--prev {
        &:hover {
          img {
            transform: translateX(-0.25rem);
          }
        }
      }

      &.splide__arrow--next {
        &:hover {
          img {
            transform: translateX(0.25rem);
          }
        }
      }
    }
  }

  &__slide__loc {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: $text-colour;
    font-family: $font-heading;

    span {
      //margin-top: 0.25rem;
    }
  }

  &__slide__number {
    margin-top: 0;
    font-size: 2rem;
  }

  &__content {
    height: 100%;
    padding-right: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}

#hero-slider {
}

.splide-wrapper {
  position: relative;
}
.splide-inner {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  height: 100%;
  width: calc(220% + 2rem);
  top: 3rem;
}
.splide {
  position: absolute;
  .container--splide {
    height: 100%;
    margin: 0;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 2rem;
  }
  .splide__slide {
    .hero__slide {
      .hero__slide__info {
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
      }
    }

    &.is-active {
      .hero__slide {
        .hero__slide__info {
          opacity: 1;
        }
      }
    }
  }
  .hero__slide {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 2rem;
    box-shadow: $shadow;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 1rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    }

    &::before {
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 1rem;

      background: linear-gradient(
        0deg,
        rgba(5, 11, 14, 0.3) 0%,
        rgba(5, 11, 14, 0.2) 50%
      );
    }
  }
  .hero__slide__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    background: rgba(black, 0.2);
    padding: 1rem;
    border-radius: 1rem;
    backdrop-filter: blur(5px);

    position: relative;
    z-index: 2;

    .hero__title {
      font-size: 1.8rem;
      font-weight: 600;
    }
    .hero__client {
      font-size: 1.4rem;
      font-weight: 500;
      margin-bottom: 0.25rem;
      // color: rgb(207, 207, 207);
    }
    .hero__issue {
      font-size: 1.3rem;
      color: rgb(207, 207, 207);
    }
  }
}

.splide__pagination {
  width: calc(50% - 1rem);
  justify-content: center;
  margin-top: 2rem !important;

  li {
    &:first-of-type {
      button {
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
      }
    }
    &:last-of-type {
      button {
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
      }
    }
  }
  button {
    background: $secondary-bg-colour;

    height: 0.5rem;
    width: 3rem;
    transition: background 0.15s ease-out;

    &:hover {
      background: rgba($primary-colour, 0.8);
      border-radius: 0.5rem;
    }

    &.is-active {
      background: $secondary-bg-colour;
      position: relative;
      z-index: 2;

      &::before {
        content: '';
        position: absolute;
        border-radius: 0.5rem;

        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($primary-colour, 1);
        border-radius: 0.5rem;
        z-index: 0;
      }
    }
  }
}
