@use '../globals/index' as *;

.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0;

  color: white;

  transition:
    background-color 0.3s ease-out,
    top 0.3s ease-out;

  &--scrolled {
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    top: calc(-2rem - 80px);

    color: $text-colour;

    .search-toggle {
      .icon--dark {
        display: inline-block;
      }
      .icon--light {
        display: none;
      }
    }
  }

  &--active {
    top: 0;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    height: 80px;
    position: relative;
  }

  &__logo {
    width: 210px;
    transition: opacity 0.3s ease-out;

    &:hover {
      opacity: 0.8;
    }
  }

  &__items {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 210px 1fr;
    gap: $container-padding;

    &:hover .nav__link {
      opacity: 0.65;

      &:hover {
        opacity: 1;
      }
    }

    @include respond($bp-md) {
      flex-direction: column;
      align-items: flex-end;
      gap: 1rem;
    }

    @include respond($bp-sm) {
      display: none;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;

    &--left {
      justify-content: flex-start;
    }

    &--right {
      justify-content: flex-end;
    }
  }

  .nav {
    display: flex;
    align-items: center;
    gap: 3rem;

    &__link {
      font-size: 1.6rem;
      font-weight: 600;
    }
  }

  &--open {
    background: white;
    height: 100dvh;
    .menu-toggle {
      .bar {
        &:nth-of-type(1) {
          top: 9px;
          transform: rotate(45deg);
          transition:
            top 0.3s ease,
            transform 0.3s ease-out 0.35s;
        }
        &:nth-of-type(2) {
          opacity: 0;
          transition: opacity 0.3s ease 0.2s;
        }
        &:nth-of-type(3) {
          top: 9px;
          transform: rotate(-45deg);
          transition:
            top 0.3s ease,
            transform 0.3s ease-out 0.35s;
        }
      }
    }

    .container {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      height: 100%;
    }

    .header__items {
      @include respond($bp-sm) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
      }
    }

    .header__menu {
      @include respond($bp-sm) {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
      }
    }

    .nav {
      @include respond($bp-sm) {
        flex-direction: column;
        align-items: flex-start;
        gap: 0rem;
        width: 100%;
      }
    }

    .nav__link {
      @include respond($bp-sm) {
        font-size: 2.25rem;
        padding: 3rem 0;
        width: 100%;
        border-bottom: 1px solid rgba($text-colour, 0.1);

        &:first-of-type {
          border-top: none;
        }
      }
    }
  }
}

.search-toggle {
  .icon--dark {
    display: none;
  }
  .icon--light {
    display: inline-block;
  }
}

.menu-toggle {
  display: none;

  @include respond($bp-sm) {
    display: block;
    position: absolute;
    right: 2rem;
    top: 30px;
    cursor: pointer;
    width: 40px;
    height: 20px;
  }

  .bar {
    height: 2px;
    width: 40px;
    display: block;
    background-color: $text-colour;
    border-radius: 10px;
    transition: 0.4s;
    position: absolute;
    &:nth-of-type(1) {
      top: 0px;
      transition:
        top 0.3s ease 0.3s,
        transform 0.3s ease-out;
    }
    &:nth-of-type(2) {
      top: 9px;
      transition: opacity 0.3s ease 0.3s;
    }
    &:nth-of-type(3) {
      top: 18px;
      transition:
        top 0.3s ease 0.3s,
        transform 0.3s ease-out;
    }
  }
}
