@font-face {
  font-family: 'Lucida Sans';
  src: url('../assets/fonts/lucida-sans/LucidaSans-Regular.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lucida Sans';
  src: url('../assets/fonts/lucida-sans/LucidaSans-DemiBold.woff2')
    format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lucida Sans';
  src: url('../assets/fonts/lucida-sans/LucidaSans-Italic.woff2')
    format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
