$bp-lg: 1366px;
$bp-md: 1024px;
$bp-sm: 768px;

$container-max-width: 1366px;
$container-padding: 1.5rem;
$header-height: 80px;

$primary-colour: #d1641f;
$secondary-colour: #ebba61;
$text-colour: #170e0d;

$font-heading: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
$font-body: 'Source Sans Pro', sans-serif;

$shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
