@use './globals/index' as *;

@use './layouts/index' as layouts;
@use './components/index' as components;
@use './pages/index' as pages;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-primary;
  font-size: 1.6rem;
  line-height: 1.5;
  color: $text-color;
  background-color: red;
  min-height: 100vh;
  scroll-behavior: smooth;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 1.2;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: $primary-color;
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
